@use 'base/variables' as v;
@use 'base/mixins' as m;

.no-webp .imagen-contacto {
    background-image: url(../img/encuentra.jpg);
}

.webp .imagen-contacto {
    background-image: url(../img/encuentra.webp);
}

.imagen-contacto {
    align-items: center;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: v.$separacion * 2 0;
    text-align: center;

    h2 {
        color: v.$blanco;
        font-size: 4rem;
        font-weight: v.$black;
    }

    p{
        color: v.$blanco;
        font-size: 1.8rem;
    }
}   