@use 'base/variables' as v;
@use 'base/mixins' as m;

@include m.tablet {
    .seccion-inferior {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 2rem;
    }
}

.entrada-blog {
    margin-bottom: 2rem;

    @include m.tablet {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}

.texto-entrada {
    a {
        color: v.$negro;
        display: block;
        margin-top: 2rem;

        @include m.tablet {
            margin-top: 0;
        }
    }

    h4 {
        line-height: 1.4;
        margin: 0;

        &::after {
            background-color: v.$verde;
            content: '';
            display: block;
            height: .5rem;
            width: 15rem;
        }
    }

    span {
        color: v.$amarillo;
    }
}